*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-black:#000000;
    --cool-black:#151922;
    --primary-purple:#A1045A;
    --font-large:70px;
    --font-medium:34px;
    --font-xl:54px;
    --font-small:20px;
    overflow-x: hidden;
}
.body_background{
    background-color: var(--primary-black);
}
.nav{
    background-color: var(--primary-black);
    height: 10vh;
}
.home{
    height: 90vh;
}
.remaining{
    height:90vh;
}
.font_large{
    font-size: var(--font-large);
}
.font_medium{
    font-size: var(--font-medium);
}
.font_small{
    font-size: var(--font-small);
}
.font_xl{
    font-size: var(--font-xl);
}
.color_primary_purple{
    color: var(--primary-purple) !important;
}
.bg_primary_purple{
    background-color: var(--primary-purple) !important;
}
.active{
    background-color:var(--primary-purple) !important;
    
}
.text-shadow{
    text-shadow: 2px 2px 4px  rgb(96, 96, 237);
}
.contact{
    margin-bottom:200px;
}
.card{
    width: 300px;
}
.card-card-img-top{
    width: 280px;
    height: 250px;
    padding: 22px;
}
.picture{
    background-color: var(--primary-black) !important;
    color: white !important;
    box-shadow: -2px -2px 5px 1px gray;
    position: absolute;
    left: -30%;
    top: -30%;
}
.main-card{
    position: absolute;
    left:5%;
    top: 50%;
    width: 65%;
    border: none !important;
    box-shadow: 1px 1px 5px 2px gray !important;
}
.card-content{
    height: 550px;
    background-color: var(--cool-black);
    color: white !important;
    /* background-image: url("./assets/img5.jpg") !important;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover; */
    /* gap: 50px; */
}
.card-text-content{
    width: 60%;
    margin-top: 100px;
}
.title{
    position: absolute;
    top: 10%;
}
.resume{
    margin-top: 60px
}
.title::before{
    /* content: "";
    width: 200px ;
    height: 60px ;
    border-top: 4px solid #A1045A;
    position: absolute;
    top: 30%;
    left: 40%;
    border-radius: 50%;
    margin-top: 10px; */
    content: "";
    width: 90px  ;
    height: 2px  ;
    border-top: 2px solid #A1045A ;
    position: absolute ;
    top: 100% ;
    left: 35% ;
    margin-top: 10px;
}
.title::after{
    content: "" ;
    width: 90px  ;
    height: 2px  ;
    border-top: 2px solid #A1045A ;
    position: absolute ;
    top: 115% ;
    left: 45% ;
    margin-top: 10px ;
}
/* .content{
    position: relative;
} */
/* .container::after{
    content: "";
    width: 60%  ;
    border-bottom: 2px solid #A1045A ;
    position: absolute ;
    border-radius: 50%;
    top: 60%;
    left: 22% ;
    margin-top: 10px ;
} */
.icon{
    /* background-color: #A1045A; */
    color: #A1045A;
    font-size: 26px;
}
.content{
    margin:3rem 0;
}
.education{
    margin-top: 12rem;
}
  
  .arrow {
    position: absolute;
    bottom: 25%;
    left: 35%;
    width: 0;
    height: 0;  
    border-bottom: 80px solid #151922;
    border-left: 700px solid #151922;
    border-right: 80px solid transparent; 
    border-top: 60px solid #151922;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.flipped{
      transform: scaleX(-1); 
      left: 0%;
      margin-left: 20px;
  }
  .drop-shadow{
    filter: drop-shadow(8px 8px 4px #A1045A);
  }
  .container{
    z-index: 3;
    color: white;
  }
  .container-outer{
    width: 30%;
  }
  .container-outer img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .content-inner{
    width: 40%;
  }
 
  .frontend,.tools{
    text-align: center;
    box-shadow: 2px 2px 5px 2px gray;
    padding: 40px;
    margin-bottom: 4rem;
    background-color: var(--cool-black);
  }
  
  .inner{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* flex-direction: column; */
    gap: 40px;
  }
  .frontend{
    width: 60%;
  }
  .technologies{
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
    margin-bottom: 4rem;
  }
  .technologies .backend,.technologies .languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    box-shadow: 2px 2px 5px 2px gray;
    padding: 40px;
    background-color: var(--cool-black);
  }
  .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    filter: drop-shadow(3px 3px 4px rgb(105, 105, 105));

  }
  .circle img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }