*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-black:#000000;
    --cool-black:#151922;
    --primary-purple:#A1045A;
    --font-large:70px;
    --font-medium:34px;
    --font-xl:54px;
    --font-small:20px;
    overflow-x: hidden;
}
.body_background{
    background-color: var(--primary-black);
}
.nav{
    background-color: var(--primary-black);
    height: 10vh;
}
.home{
    height: 90vh;
}
.remaining{
    height:90vh;
}
.font_large{
    font-size: var(--font-large);
}
.font_medium{
    font-size: var(--font-medium);
}
.font_small{
    font-size: var(--font-small);
}
.font_xl{
    font-size: var(--font-xl);
}
.color_primary_purple{
    color: var(--primary-purple) !important;
}
.bg_primary_purple{
    background-color: var(--primary-purple) !important;
}
.active{
    background-color:var(--primary-purple) !important;
    
}
.text-shadow{
    text-shadow: 2px 2px 4px  rgb(96, 96, 237);
}
.contact{
    margin-bottom:200px;
}
.card{
    width: 300px;
}
.card-card-img-top{
    width: 280px;
    height: 250px;
}
.picture{
    background-color: var(--primary-black) !important;
    color: white !important;
    box-shadow: -2px -2px 5px 1px gray;
    position: absolute;
    left: -30%;
    top: -30%;
}
.main-card{
    position: absolute;
    left:5%;
    top: 50%;
    width: 65%;
    border: none !important;
    box-shadow: 1px 1px 8px 2px gray !important;
}
.card-content{
    height: 550px;
    background-color: var(--cool-black);
    color: white !important;
    /* background-image: url("./assets/img5.jpg") !important;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover; */
    /* gap: 50px; */
}
.card-text-content{
    width: 60%;
    margin-top: 100px;
}
.title{
    position: absolute;
    top: 10%;
}
.resume{
    margin-top: 60px
}
.title::before{
    /* content: "";
    width: 200px ;
    height: 60px ;
    border-top: 4px solid #A1045A;
    position: absolute;
    top: 30%;
    left: 40%;
    border-radius: 50%;
    margin-top: 10px; */
    content: "";
    width: 90px  ;
    height: 2px  ;
    border-top: 2px solid #A1045A ;
    position: absolute ;
    top: 100% ;
    left: 35% ;
    margin-top: 10px;
}
.title::after{
    content: "" ;
    width: 90px  ;
    height: 2px  ;
    border-top: 2px solid #A1045A ;
    position: absolute ;
    top: 115% ;
    left: 45% ;
    margin-top: 10px ;
}